:root {
	--xf-black:#000;
	--xf_white:#fff;
	--xf_grey:#ccc;
	--xf_gradient_5: #ff7a7a, #ff9378, #ffcf77, #ebff7b,#aeff6b, #60ff5b, #72ffad,#6568ff, #9b5dff, #e063ff,#ff52cb, #fc52a1, #fc4961,#fc4961,#ff7a7a;
}

* {
	padding: 10;
	margin: 10;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


html, body {
	text-align: center;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position-x: center;
}

a {
	text-decoration: none;
}


li {
	list-style: none;
}

/*渐变背景CSS */
#canvas-basic {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -999;
}


.big_box {
	display: flex;
	/* 水平居中 */
	justify-content: center;
	/* 如果需要垂直居中，也添加这行代码 */
	align-items: center; 
	/* 如果需要垂直居中，设置容器高度 */
	height: 130vh;
	font-size: 30px;
}

a {
	padding: 1px 3px;
	background-color: #ffffff27;
	color: #ffffff21;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
	margin-right: 10px;
}

.dx-zt{
	font-size:20px;
}