@import url(main.css);

body {
	/* 这里替换移动端背景 https://image.anosu.top/pixiv/direct?r18=1&keyword=princess  */
	background: url("https://api.vvhan.com/api/wallpaper/mobileGirl") no-repeat center center;
	background-size: cover;
	height: 100vh;
	background-color: var(--xf-black);
	overflow-x: hidden;
	overflow-y: hidden;
  }
  
@media only screen and (max-width: 700px) {
	.big_box {
		width: 100%;
	}
}

.xf_footer {
	z-index: 9;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	border-radius: 0;
	padding-bottom: 0.15rem;
}

.xf_footer {
	line-height: 1.8;
	-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* 炫彩字 */
.xf_footer {
	font-weight: 600;
	color: var(--xf_white);
	background: -webkit-linear-gradient(45deg, var(--xf_gradient_5));
	background: -moz-linear-gradient(45deg, var(--xf_gradient_5));
	background: linear-gradient(45deg, var(--xf_gradient_5));
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	-moz-animation: xf-copy 7s linear infinite;
	-webkit-animation: xf-copy 7s linear infinite;
	animation: xf-copy 7s linear infinite;
	-webkit-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}
@keyframes xf-copy {
	100% {
		background-position: 104.1667vw 0;
	}
}
