@import url(main.css);

body {
	/* 这里替换PC端背景 https://image.anosu.top/pixiv/direct?r18=1&keyword=princess */
	background: url("https://api.vvhan.com/api/wallpaper/pcGirl") no-repeat center center;
	background-size: cover;
	height: 100vh;
  }
  
.xf_footer {
	z-index: 1;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	border-radius: 0;
	padding-bottom: 1rem;
}

/* 炫彩字 */
.xf_footer {

	background: -moz-linear-gradient(45deg, var(--xf_gradient_5));
	background: linear-gradient(45deg, var(--xf_gradient_5));
	background-clip: text;
	animation: 7s linear infinite;
	-moz-animation: xf-copy 7s linear infinite;
	-webkit-animation: xf-copy 7s linear infinite;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
@keyframes xf-copy {
	100% {
		background-position: 104.1667vw 0;
	}
}

