@import url(main.css);
body {
  /* 这里替换PC端背景 https://image.anosu.top/pixiv/direct?r18=1&keyword=princess */
  background: url("https://api.vvhan.com/api/wallpaper/pcGirl") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

body .big_box .xf_hd_box {
  position: relative;
  height: 2rem;
}

body .big_box .main_content {
  display: flex;
  margin: 0 auto;
  width: 9.2rem;
  height: 3rem;

}
body .big_box .main_content .xf_left_box {
  width: 2.8125rem;
  height: 100%;
}

body .big_box .main_content .xf_center_box {
  width: 3.1771rem;
  height: 100%;
  margin: 0 0.2083rem;
}

.xf_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vw;
  
}

.xf_footer p {
  line-height: 3.6458vw;
}
.xf_footer p a:nth-child(1) {
  font-weight: 600;
  color: var(--xf_white);
  background: -ms-linear-gradient(45deg, var(--xf_gradient_5));
  background: -webkit-linear-gradient(45deg, var(--xf_gradient_5));
  background: -moz-linear-gradient(45deg, var(--xf_gradient_5));
  background: linear-gradient(45deg, var(--xf_gradient_5));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-animation: xf-copy 20s linear infinite;
  -webkit-animation: xf-copy 20s linear infinite;
  animation: xf-copy 20s linear infinite;
}
.xf_footer p a:nth-child(2):hover {
  color: var(--xf_white);
}
.xf_footer p:nth-child(2) {
  position: absolute;
  top: 0.0417rem;
  right: 1.6926rem;
  font-size: 0.0729rem;
}
.xf_footer p:nth-child(2) a {
  color:  #c9666600;
}
.xf_footer p:nth-child(2) img {
  position: absolute;
  top: 0.1484rem;
  left: -0.0938rem;
  width: 0.0729rem;
  margin-right: 0.026rem;
}
.xf_footer p:nth-child(3) {
  position: absolute;
  top: 0.0417rem;
  right: 0.2604rem;
  font-size: 0.0729rem;
}
.xf_footer p:nth-child(3) a {
  color: var(--xf_grey);
}
.xf_footer p:nth-child(3) img {
  position: absolute;
  top: 0.1484rem;
  left: -0.1042rem;
  width: 0.0729rem;
  margin-right: 0.026rem;
}
@keyframes xf-copy {
  100% {
    background-position: 104.1667vw 0;
  }
}
.xf-swiper-pagination {
  display: none;
}



